<div class="add-todo-form text-center">
  <h1>Add Todo</h1>
  <div class="form-group">
    <input class="form-control input-lg" placeholder="Add Todo.." autofocus [(ngModel)]="todoText">
    <br/>
    <button (click)="createTodo($event,todoText)" class="btn btn-primary btn-block">Create</button>
  </div>
</div>

<div class="todo-list">
  <div *ngIf="todos.length>0">
    <div *ngFor='let todo of todos'>
      <div class="row">
        <div class="col-md-1">
          <input type="checkbox" [checked]="todo.isCompleted" (click)="updateStatus(todo)">
        </div>
        <div class="col-md-7">
          <span [class.hidden]="todo.isEditMode">{{todo.text}}</span>
          <input type="text" [class.hidden]="!todo.isEditMode" (keypress)="updateTodoText($event,todo)" [value]="todo.text">
          <input type="button" [class.hidden]="!todo.isEditMode" (click)="setEditState(todo)" value="Cancel">
        </div>
        <div class="col-md-4">
          <input type="button" class="btn btn-danger pull-right" (click)="deleteTodo(todo)" value="Delete">
          <input [class.disabled]="todo.isCompleted" (click)="setEditState(todo)" type="button" class="btn btn-default pull-right" value="Edit">
        </div>
      </div>
    </div>
  </div>
</div>
